In [ ]:
# pip install matplotlib

In [ ]:
#pip install seaborn

In [ ]:
#pip install plotly

# import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import plotly 
import plotly.graph_objs as go
import plotly.express as px
###############################
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
###############
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

# Read data and print types and head

In [2]:
data = pd.read_csv('municipality_bus_utilization.csv')
print ('\n Data Types:')
print (data.dtypes)
data.head()

 Data Types:
timestamp          object
municipality_id    int64
usage              int64
total_capacity     int64
dtype: object

             timestamp  municipality_id  usage  total_capacity
0  2017-06-04 07:59:42  9                454    1332
1  2017-06-04 07:59:42  8                556    2947
2  2017-06-04 07:59:42  4                1090   3893
3  2017-06-04 07:59:42  0                204    2813
4  2017-06-04 07:59:42  7                718    2019

# timestamp is object, we convert to time series and extract date (year-month-day), week, and hour

In [3]:
from datetime import datetime
data['timestamp']=pd.to_datetime(data['timestamp'])
data['YMD']=data['timestamp'].dt.date
data['Week']=data['timestamp'].dt.week
data['hour']=data['timestamp'].dt.hour
print ('\n Data Types:')
print (data.dtypes)
data.head()

 Data Types:
timestamp          datetime64[ns]
municipality_id    int64
usage              int64
total_capacity     int64
YMD                object
Week               int64
hour               int64
dtype: object

,timestamp,municipality_id,usage,total_capacity,YMD,Week,hour
0,2017-06-04 07:59:42,9,454,1332,2017-06-04,22,7
1,2017-06-04 07:59:42,8,556,2947,2017-06-04,22,7
2,2017-06-04 07:59:42,4,1090,3893,2017-06-04,22,7
3,2017-06-04 07:59:42,0,204,2813,2017-06-04,22,7
4,2017-06-04 07:59:42,7,718,2019,2017-06-04,22,7

In [ ]:
# it is seen that YMD is again object change to datatime

In [4]:
data['YMD']=pd.to_datetime(data['YMD'])
print ('\n Data Types:')
print (data.dtypes)

 Data Types:
timestamp          datetime64[ns]
municipality_id    int64
usage              int64
total_capacity     int64
YMD                datetime64[ns]
Week               int64
hour               int64
dtype: object

# Now we can drop timestamp

In [5]:
data.drop(['timestamp'],axis=1,inplace=True)
data.head()

   municipality_id  usage  total_capacity        YMD  Week  hour
0  9                454    1332           2017-06-04  22    7
1  8                556    2947           2017-06-04  22    7
2  4                1090   3893           2017-06-04  22    7
3  0                204    2813           2017-06-04  22    7
4  7                718    2019           2017-06-04  22    7

# check data

In [6]:
print ("Rows:", data.shape[0], "\tColumns:", data.shape[1]) # printing Rows & Columns numbers

Rows: 13070 	Columns: 6

In [7]:
print ("Features : \n" ,data.columns.tolist()) # Printing name of features

Features :
 ['municipality_id', 'usage', 'total_capacity', 'YMD', 'Week', 'hour']

In [8]:
print ("Missing values :  ", data.isnull().sum()) # Checking missing values

Missing values :   municipality_id    0
usage              0
total_capacity     0
YMD                0
Week               0
hour               0
dtype: int64

In [9]:
print ("\nUnique values :  \n",data.nunique()) # Unique values in each columns

Unique values :
 municipality_id    10
usage              2346
total_capacity     10
YMD                72
Week               12
hour               10
dtype: int64

In [10]:
(data['usage']==int(0)).sum()

0

In [11]:
data.head()

   municipality_id  usage  total_capacity        YMD  Week  hour
0  9                454    1332           2017-06-04  22    7
1  8                556    2947           2017-06-04  22    7
2  4                1090   3893           2017-06-04  22    7
3  0                204    2813           2017-06-04  22    7
4  7                718    2019           2017-06-04  22    7

In [12]:
data.set_index('YMD', inplace=True)
#check datatype of index
#data.index

In [13]:
data.head()

            municipality_id  usage  total_capacity  Week  hour
YMD
2017-06-04  9                454    1332            22    7
2017-06-04  8                556    2947            22    7
2017-06-04  4                1090   3893            22    7
2017-06-04  0                204    2813            22    7
2017-06-04  7                718    2019            22    7

# group by 'YMD','hour','municipality_id'

In [14]:
dataGrped=data.groupby(['YMD','hour','municipality_id'])["usage"].max().reset_index(name='Maximum')
#print(dataGrped)
print ('\n Data Types:')
print (dataGrped.dtypes)
print ("Rows:", dataGrped.shape[0], "\tColumns:", dataGrped.shape[1]) # printing Rows & Columns numbers
dataGrped.head()
#grouped_single = data.groupby(['YMD','hour','municipality_id']).agg({'usage': ['min','max']})
#print(grouped_single)

 Data Types:
YMD                datetime64[ns]
hour               int64
municipality_id    int64
Maximum            int64
dtype: object
Rows: 6740 	Columns: 4

         YMD  hour  municipality_id  Maximum
0 2017-06-04  7     0                204
1 2017-06-04  7     1                129
2 2017-06-04  7     2                273
3 2017-06-04  7     3                623
4 2017-06-04  7     4                1090

# Now the data is ready to fit on a model.