In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import plotly 
import plotly.graph_objs as go
import plotly.express as px

import warnings
warnings.filterwarnings("ignore")

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [3]:
df = pd.read_csv("https://bit.ly/3hKIspT")
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020 NaN                  Sputnik V
1  Argentina  12/30/2020  15656.0             Sputnik V
2  Argentina  12/31/2020  15656.0             Sputnik V
3  Argentina  1/1/2021    11070.0             Sputnik V
4  Argentina  1/2/2021    8776.0              Sputnik V

In [7]:
print ("Rows:", df.shape[0], "\tColumns:", df.shape[1]) # printing Rows & Columns numbers

Rows: 1502 	Columns: 4

In [9]:
print ("Features : \n" ,df.columns.tolist()) # Printing name of features

Features :
 ['country', 'date', 'daily_vaccinations', 'vaccines']

In [17]:
print ("Missing values :  ", df['daily_vaccinations'].isnull().sum()) # Checking missing values

Missing values :   60

In [18]:
print ("\nUnique values :  \n",df.nunique()) # Unique values in each columns

Unique values :
 country               60
date                  44
daily_vaccinations    1224
vaccines              10
dtype: int64

In [19]:
# Groupine per countries, calculate minimum values and then repalce the Nan values with their min values 
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df.groupby('country')['daily_vaccinations'].transform('min'))
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020  6483.0              Sputnik V
1  Argentina  12/30/2020  15656.0             Sputnik V
2  Argentina  12/31/2020  15656.0             Sputnik V
3  Argentina  1/1/2021    11070.0             Sputnik V
4  Argentina  1/2/2021    8776.0              Sputnik V

In [20]:
print ("\nMissing values :  ", df['daily_vaccinations'].isnull().sum()) # Again, checking missing values

Missing values :   1

In [21]:
# One missing country which has no record of vaccination
df['daily_vaccinations']=df['daily_vaccinations'].fillna(float(0), inplace = False)

In [22]:
print ("\nMissing values :  ", df['daily_vaccinations'].isnull().sum()) # finall, checking missing values

Missing values :   0